dl {
	padding-bottom: 1em;
}
dl dt{
	text-indent: -16px;
}
dl dt{
	padding-top: .8em;
	padding-bottom: .5em;
}
dl dt:first-child{
	padding-top: 0;
}
dl dt a{
	text-decoration: none;
}
dl  dt.closed a{}

dl dt a span{
	color: #666;
	border-bottom: 1px dotted #666;
}
dl  dt.closed a span{
	color: #669900;
	border-bottom: 1px dotted #669900;
	font-style: normal;
}
dl dd{
	display: none;
	padding-bottom: 1em;
	//zoom:1;
}

dl dd.closed{
	display: none;
}
.i16.collapse{background-position:-40px -11px}
.closed .i16.collapse{background-position:-60px -15px}