/* Sprite icons */
/* TODO explore http://habrahabr.ru/blogs/css/122920/ */
.i16, .i32, .iXXL{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image:url("images/sprites.png");
	background-repeat: no-repeat;
	font-style: normal;
	font-size: 0;
	line-height: 0;
}
.i32{
	width: 32px;
	height: 32px;
}
.iXXL{
	width: 32px;
	height: 32px;
}

/* TODO test hanging icon */
.i16.i-hang{
	float:left;
	margin-left: -16px;
}
.i32.i-hang{
	float:left;
	margin-left: -32px;
}

/* TODO filter classes to universal set (file types, bullets, arrows), additional icon classes will appear in site stylesheet;
  A lot of standard icons already located in jquery ui icons (jquery.ui.theme.css of any jQueryUI package)
 */
.i16-close{background-position:0 0}
.i16-close:hover{background-position:-20px 0}
.i16-home{background-position:0 -16px}
.i16-collapse{background-position:-40px -11px}
.i16-print{background-position:-100px -40px}
.i16-minus{background-position:-40px -10px}
.i16-plus{background-position:-80px 5px}
.i16-dash{background-position:-80px -10px}
.closed .i16-collapse{background-position:-60px -15px}
.i16-lock{background-position: -180px -20px}
.i16-flag{background-position: -140px -20px}
.i16-flag-white{background-position: -140px -80px}
.i16-check{background-position: -140px -60px}
.i16-card{background-position: -160px -60px}

.i16-file-doc{background-position: -160px 0; width: 20px; height: 20px}
.i16-file-pdf{background-position: -140px 0; width: 20px; height: 20px}
.i16-file-zip{background-position: -260px 0; width: 20px; height: 20px}
.i16-file-png{background-position: -240px 0; width: 20px; height: 20px}
.i16-file-xls{background-position: -220px 0; width: 20px; height: 20px}
.i16-heart{background-position: -162px -20px;}

.i32-rss{background-position:-240px -40px;height:14px}
.i32-arrow-left{background-position: -140px -40px}
.i32-arrow-right{background-position: -180px -40px}
.i32-helper{background-position: -100px -60px}
.i32-services{background-position: -140px -60px}
.i32-map{background-position: -180px -60px}
.i32-bullet{background-position: -20px -40px;width: 24px;}

.iXXL-callback{background-position: -60px -140px;width: 57px;height: 60px;}
.iXXL-file{background-position:-240px 0; width: 20px;height: 45px; margin-right: 5px}
.iXXL-file-pdf{background-position:-100px 0; width: 38px;height: 43px; margin-right: 5px}
.iXXL-success{background-position:0 -40px;width:95px;height: 98px}
.iXXL-paragraph{background-position:0 -40px;width:7px;height:20px}