/**
 * TD Grid333 3dots fluid grid
 * @version 1.1 alpha
*/

/* TODO explore http://meyerweb.com/eric/tools/css/reset/ */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,
center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,
figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,
label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,
section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,
tt,u,ul,var,video,xmp{border:0;font-size:100%;margin:0;padding:0}
html,body{height:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{display:block}
b,strong{font-weight:bold}
img{font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}
table{border-collapse:collapse;border-spacing:0}
th,td,caption{font-weight:normal;vertical-align:top;text-align:left}
svg{overflow:hidden}

/*** Globals ***/
body{
	font-family: arial, helvetica, sans-serif;
	color: #333;
}

/* Normalize font size */
body, .f{
    font-size: 14px;
    line-height: 1.45em;
}

html {
    overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
    /* Prevents iOS text size adjust after orientation change, without disabling user zoom http://goo.gl/chJoZ */
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a, a:visited{color: #008AE7}
.selected a, a:hover, a:active {outline: 0}

a.external{
	background: url(images/link-ext.gif) 100% 55% no-repeat;
	padding-right: 13px;
	margin-right: .6em;
}

h1 a,h2 a,h3 a,h4 a,h5 a, h6 a{
	text-decoration: none;
}


/*** Font-n-typo ***/
/* TODO explore https://github.com/nathansmith/960-Grid-System/blob/master/code/css/text.css */
h1, h2, h3, h4,
.f-1, .f-2, .f-3, .f-4{
	line-height: 105%;
	font-weight: normal;
	padding-bottom: .3em;
}
h1,h2,h3, .f-1, .f-2, .f-3{
	padding-bottom: .5em;
}

/* Headings sizing, without applying head tags. Common rules forces metrics to match ALWAYS */
h1, .f-1{font-size: 2.0714em}
h2, .f-2{font-size: 1.6428em}
h3, .f-3{font-size: 1.3571em}
h4, .f-4{font-size: 1.2142em}

/*
TODO find out universal sequence of sizes, including XXS ... XXXL
it must be between headings sizes, or cover ALL sizes of this sequence:
*/
.f-XXS{font-size: .7142em;line-height: 1.3em}
.f-XS{font-size: .7857em;line-height: 1.4em}
.f-S{font-size: .8571em;line-height: 1.4em}
.f-M{font-size: 1.0714em; line-height: 1.25em}
.f-L{font-size: 1.5em; line-height: 1.15em}
.f-XL{font-size: 1.9285em; line-height: 1.15em}
.f-XXL{font-size: 2.5714em; line-height: 1.12em}
.f-XXXL{font-size: 2.785em; line-height: 1em}
.f-XXXXL{font-size: 343.28%; line-height: .9em}

.f-light{color:rgba(0,0,0,.5);//color: #777}
.f-dark{color:rgba(0,0,0,.25);//color: #333}
.f-inverse{color: #fff}

/* text transformations for individual cases */
.f-i{font-style: italic}
.f-b{font-weight: bold}
.f-UC{text-transform: uppercase}
.f-lc{text-transform: lowercase}
.f-Cp{text-transform: capitalize}

.t-C {text-align: center}
.t-R {text-align: right}
.t-L {text-align: left}
.t-J {text-align: justify; word-spacing: -0.08em}

.nobr{white-space:nowrap}

/* Text tags */
p{padding: 0 0 1em}
p.f-L, p.f-XL, p.f-XXL{padding-bottom: .3em}

ul{padding: 0 0 1em 1em}
ul[class]{padding: 0}

li{
    display:list-item;
    padding: 0 0 .5em;
    list-style-image: url(/images/bullet.png);
    list-style-position: outside;
}
ol li{
	list-style-position: inside;
	padding-left: 13px;
    list-style-image: none;
}
ul[class] li{list-style-image: none; list-style-type: none}

.inset{
	display: block;
	float: none;
	background: #666;
	color: #fff;
	padding: .8em 1em .5em;
}

.inset-pic{
	display: inline-block;
}
.inset-out{
	margin-left: -1em;
	margin-right: -1em;
}

.inset-left{
	float: left;
	margin-right: 1.2em;
}
.inset-right{
	float: right;
	margin-left: 1.2em;
}

.inset-round{
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
}
.inset-round-S{
	border-radius: .5em;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
}

/* For img only */
.i{
	margin: 0 1.2em 1em;
	display: inline-block;
    font-size: 100%;
}
.i-L{
	float: left;
	margin-left: 0;
}
.i-R{
    margin-right: 0;
	float: right;
}
img.i-C{
	float: none;
	text-align: center;
	margin: 1em auto;
	display: block;
	text-align: center;
}
img.i-clear{
	clear: both;

}
img.i-J {
	max-width:100%;
	_width:100%;
}

img.i-first{margin-top: 0}
img.i-last{margin-bottom: 0}

/* Navigation */
ul.menu{
	padding: 0;
}
ul.menu li{
	list-style-type: none;
    list-style-image: none;
	line-height: 130%;
}
ul.menu li.clear{
	display: block !important;
	float : none !important;
	padding: 0;
}
ul.menu li a{
    border-bottom: none;
}

ul.menu-horizontal{
	margin-left: -.4em;
}
ul.menu-horizontal li{
	display: inline-block;
    //display:inline;
    //zoom:1;
	margin-right: .3em;
	vertical-align: top;
	padding-bottom: 0;
}
ul.menu-horizontal li a{
	display: inline-block;
	padding: .2em .5em .25em;
	vertical-align: top;
}
ul.menu-horizontal li span{
	vertical-align: top;
}

pre, code, kbd, samp, .f-mono {
    font-family: Consolas, 'Droid Mono', 'courier new', 'courier', monospace, serif;
    font-size: 1.15em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {top: -0.5em}
sub {bottom: -0.25em}

/* <ins>Marks text by parts</ins><ins>every line is always </ins> */
ins{
	display: inline-block;
	//display: inline;
	//zoom:1;
	float: left;
	clear: both;
	background: #333;
	color: #fff;
	padding: .2em .4em .3em;
	text-decoration: none;
	white-space: nowrap;
}
ins + ins{
	margin-top: -.3em;
	padding-top: 0;
}

.nowrap{
    white-space: nowrap;
}

/* todo Breadcrumbs */

/*** Forms ***/
form .row{
    padding: 0 0 .6em;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/* IE */
legend {border: 0; //margin-left: -7px}

button, input, select, textarea {
	font-family: sans-serif;
    vertical-align: baseline;
    *vertical-align: middle;
	font-size: 1em;
	border-radius: .23em;
	-moz-border-radius: .23em;
	-webkit-border-radius: .23em;
}

select{
	width: 100%;
	padding: .2em;
	border: 1px solid #c1c1c1;
}
select option{
	padding: 0 .2em;
}

input[type='text'],
input[type='password'],
textarea{
	border: 1px solid #c1c1c1;
	border-top: 1px solid #848484;
	border-bottom: 1px solid #e1e1e1;
	padding: .2em 1% .3em;
	width: 98%;
    vertical-align: top;
}

td input[type='text'],
td input[type='password'],
td textarea,
td select{
    //width: 90%;
}

textarea {
    overflow: auto; /* scrollbar */
    resize: vertical;
}
button,input {
    line-height: normal;
    *overflow: visible;
}

input:focus, select:focus, textarea:focus{
	outline: none;
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

/*
 * Corrects overlap and whitespace issue for buttons and inputs in IE6/7
 * Known issue: reintroduces inner spacing
 */
/* TODO test this fix */
table button, table input {
    *overflow: auto;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button; /* iOS */
    margin: 0;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Addresses excess padding in IE8/9
 */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
	vertical-align: middle;
}

input[size], textarea[cols]{
	width: auto;
}

/*
 * http://goo.gl/cD6pC
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

sup.required{
	color: #F44D76;
	font-weight: normal;
}

/* Clearfix */
/* TODO shorten class name for css shrinking */
/* TODO make columns-in-columns container, for background assembling */
.clearfix {}

/* http://goo.gl/z8yiK */
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/*
Vertical page section, full-width
.body >	.wrap * NN
 */
.body{
	padding: 0 60px;
	overflow: hidden;
}
.body .body{
    margin: 0 -60px;
    padding: 0;
    overflow: visible;
}
/* Content centering wrap */
.wrap{
	max-width: 1200px;
	min-width: 880px;
	margin: 0 auto;
	text-align: left;
}
/* TODO make columns-in-columns container, for background assembling */
.c-first{}
.c-last{clear: right /* IE6-7 */}

/* gutters */
.-c {padding-left: 10px}
.c- {padding-right: 10px}
.-c- {padding-left: 10px;padding-right: 10px}
.-c-out {margin-left: -10px}
.c-out {margin-right: -10px}


/* TODO Fitting last column to right border when column is not dividable by 2 */
.c-last.stretch-right{
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: visible;
}
.c-last.stretch-right .-c {
	margin-right: -5px; padding-left: 5px;
}

/* Clearing paddings, for example, for particular paragraphs and heads */
.pre-x-0{padding-left:0}
.post-x-0{padding-right:0}
.pre-y-0{padding-top:0}
.post-y-0{padding-bottom:0}

/* Vertical paddings, in fixed grid interval */
.pre-x-1{padding-left:1em}
.pre-x-2{padding-left:2em}
.pre-x-3{padding-left:3em}
.pre-x-4{padding-left:4em}
.post-x-1{padding-right:1em}
.post-x-2{padding-right:2em}
.post-x-3{padding-right:3em}
.post-x-4{padding-right:4em}

.pre-y-025{padding-top: .25em !important}
.pre-y-05{padding-top: .5em !important}
.pre-y-1{padding-top: 1em !important}
.pre-y-15{padding-top: 1.5em !important}
.pre-y-2{padding-top: 2em !important}
.pre-y-25{padding-top: 2.5em !important}
.pre-y-3{padding-top: 3em !important}
.pre-y-35{padding-top: 3.5em !important}
.pre-y-4{padding-top: 4em !important}

.post-y-025{padding-bottom: .25em!important}
.post-y-05{padding-bottom: .5em!important}
.post-y-1{padding-bottom: 1em!important}
.post-y-15{padding-bottom: 1.5em!important}
.post-y-2{padding-bottom: 2em!important}
.post-y-25{padding-bottom: 2.5em!important}
.post-y-3{padding-bottom: 3em!important}
.post-y-35{padding-bottom: 3.5em!important}
.post-y-4{padding-bottom: 4em!important}



.-y-1{top:-1em} .-y-2{top:-2em} .-y-3{top:-3em} .-y-4{top:-4em}
 .y-1{top:1em}   .y-2{top:2em}   .y-3{top:3em}   .y-4{top:4em}

.x-1-out{margin-right: -1em} .-x-1-out{margin-left: -1em}
.x-2-out{margin-right: -2em} .-x-2-out{margin-left: -2em}
.x-3-out{margin-right: -3em} .-x-3-out{margin-left: -3em}
.x-4-out{margin-right: -4em} .-x-4-out{margin-left: -4em}
.-y-1-out{margin-top:-1em!important} .-y-2-out{margin-top:-2em!important}
.-y-3-out{margin-top:-3em!important} .-y-4-out{margin-top:-4em!important}
 .y-1-out{margin-top:1em!important}   .y-2-out{margin-top:2em!important}
 .y-3-out{margin-top:3em!important}   .y-4-out{margin-top:4em!important}

/* List with items (example: photo in gallery, visit cards) in grid order */
.grid{font-size:0}
.grid-item{
	display: inline-block;
	vertical-align: top;
	float: none;
	clear: none;
	overflow: hidden;
    font-size: 14px;
	margin: 0;
	/*letter-spacing: normal;*/
	//display: inline;
	//zoom:1;
}

/* Column entity */
.c{
	display:inline;
	float: left;
	position: relative;
}

/* width values for any node, not only column  */
.w-5   {width:5%} .w-10 {width:10%} .w-15 {width:15%} .w-20 {width:20%}
.w-30 {width:30%} .w-35 {width:35%} .w-40 {width:40%} .w-45 {width:45%}
.w-55 {width:55%} .w-60 {width:60%} .w-65 {width:65%} .w-70 {width:70%}
.w-80 {width:80%} .w-85 {width:85%} .w-90 {width:90%} .w-95 {width:95%}
.w-100 {width:100%}

.w-25 {width:25%} .w-50 {width:50%} .w-75 {width:75%}
.w-33 {width:33.3333%} .w-66 {width:66.6666%}

/* Horizontal spacing and shifting */
.pre-x-5  {padding-left:5%}  .pre-x-10 {padding-left:10%}
.pre-x-15 {padding-left:15%} .pre-x-20 {padding-left:20%}
.pre-x-25 {padding-left:25%} .pre-x-30 {padding-left:30%}
.pre-x-35 {padding-left:35%} .pre-x-40 {padding-left:40%}
.pre-x-45 {padding-left:45%} .pre-x-50 {padding-left:50%}
.pre-x-55 {padding-left:55%} .pre-x-60 {padding-left:60%}
.pre-x-65 {padding-left:65%} .pre-x-70 {padding-left:70%}
.pre-x-75 {padding-left:75%} .pre-x-80 {padding-left:80%}
.pre-x-85 {padding-left:85%} .pre-x-90 {padding-left:90%}
.pre-x-95 {padding-left:95%}

.post-x-5  {padding-right:5%}  .post-x-10 {padding-right:10%}
.post-x-15 {padding-right:15%} .post-x-20 {padding-right:20%}
.post-x-25 {padding-right:25%} .post-x-30 {padding-right:30%}
.post-x-35 {padding-right:35%} .post-x-40 {padding-right:40%}
.post-x-45 {padding-right:45%} .post-x-50 {padding-right:50%}
.post-x-55 {padding-right:55%} .post-x-60 {padding-right:60%}
.post-x-65 {padding-right:65%} .post-x-70 {padding-right:70%}
.post-x-75 {padding-right:75%} .post-x-80 {padding-right:80%}
.post-x-85 {padding-right:85%} .post-x-90 {padding-right:90%}
.post-x-95 {padding-right:95%}

.x-5  {left:5%}  .x-10 {left:15%} .x-15 {left:15%}
.x-20 {left:20%} .x-25 {left:25%} .x-30 {left:30%}
.x-35 {left:35%} .x-40 {left:40%} .x-45 {left:45%}
.x-50 {left:50%} .x-55 {left:55%} .x-60 {left:60%}
.x-65 {left:65%} .x-70 {left:70%} .x-75 {left:75%}
.x-80 {left:80%} .x-85 {left:85%} .x-90 {left:90%}
.x-95 {left:95%}

.-x-5  {left:-5%}  .-x-10 {left:-15%} .-x-15 {left:-15%}
.-x-20 {left:-20%} .-x-25 {left:-25%} .-x-30 {left:-30%}
.-x-35 {left:-35%} .-x-40 {left:-40%} .-x-45 {left:-45%}
.-x-50 {left:-50%} .-x-55 {left:-55%} .-x-60 {left:-60%}
.-x-65 {left:-65%} .-x-70 {left:-70%} .-x-75 {left:-75%}
.-x-80 {left:-80%} .-x-85 {left:-85%} .-x-90 {left:-90%}
.-x-95 {left:-95%}

.-x-5-out  {margin-left:-5%}  .-x-10-out {margin-left:-15%} .-x-15-out {margin-left:-15%}
.-x-20-out {margin-left:-20%} .-x-25-out {margin-left:-25%} .-x-30-out {margin-left:-30%}
.-x-35-out {margin-left:-35%} .-x-40-out {margin-left:-40%} .-x-45-out {margin-left:-45%}
.-x-50-out {margin-left:-50%} .-x-55-out {margin-left:-55%} .-x-60-out {margin-left:-60%}
.-x-65-out {margin-left:-65%} .-x-70-out {margin-left:-70%} .-x-75-out {margin-left:-75%}
.-x-80-out {margin-left:-80%} .-x-85-out {margin-left:-85%} .-x-90-out {margin-left:-90%}
.-x-95-out {margin-left:-95%}

.-x-33-out {margin-left:-33.3333%} .-x-66-out {margin-left:-66.6666%}

.x-5-out  {margin-right:-5%}  .x-10-out {margin-right:-15%} .x-15-out {margin-right:-15%}
.x-20-out {margin-right:-20%} .x-25-out {margin-right:-25%} .x-30-out {margin-right:-30%}
.x-35-out {margin-right:-35%} .x-40-out {margin-right:-40%} .x-45-out {margin-right:-45%}
.x-50-out {margin-right:-50%} .x-55-out {margin-right:-55%} .x-60-out {margin-right:-60%}
.x-65-out {margin-right:-65%} .x-70-out {margin-right:-70%} .x-75-out {margin-right:-75%}
.x-80-out {margin-right:-80%} .x-85-out {margin-right:-85%} .x-90-out {margin-right:-90%}
.x-95-out {margin-right:-95%}

.x-33-out {margin-right:-33.3333%} .x-66-out {margin-right:-66.6666%}

.clear {float:none!important; clear:both!important; display:block; overflow:hidden; visibility:hidden; width:0; height:0}

/**
All layers by default placed on 3 levels
- 100500 will overlay any layer
- [custom layers]
- 500
- [custom layers]
- 100 lower than any layer
*/
.z{position: relative;*zoom:1} /* z-index in lower layer */
.z-100{z-index: 100} /* z-index in lower layer */
.z-500{z-index: 500} /* z-index in medium */
.z-100500{z-index: 100500} /* z-index over 9k */


/* todo expressions for IE<=8 */

/* Large sizes */
/* todo recalc to ems relative to body */

@media only screen and (min-width: 1320px){
    body, .f, .grid-item{font-size: 16px}
}


/* Lower that 1024 but bigger that 768 */
@media only screen and (max-width: 980px){
    .body{padding-left: 40px; padding-right: 40px}
    .body .body{margin-left: -40px; margin-right: -40px}
	/* "lt-1000" means "screen less than 1000px width" etc */
	.lt-1024 {
		display:block !important;
		float: none !important;
		width: auto !important;
		clear: both !important;
		position: static!important;
		padding-left: 0!important;
		padding-right: 0!important;
		margin-left: 0!important;
		margin-right: 0!important;
		height: auto!important;
        text-align: left!important;
	}
	.lt-1024-hide{display:none!important}
	.wrap{min-width: 0}
    /* For short text lines */
    .f-short{font-size: 85%}
}

/* Lower than 800, including iPad vertical */
@media only screen and (max-width: 768px){
    .body{padding-left: 30px; padding-right: 30px}
    .body .body{margin-left: -30px; margin-right: -30px}
    body, .f, .grid-item{font-size: 13px}
	.lt-800 {
		display:block !important;
		float: none !important;
		width: auto !important;
		clear: both !important;
		position: static!important;
		padding-left: 0!important;
		padding-right: 0!important;
		margin-left: 0!important;
		margin-right: 0!important;
		height: auto!important;
        text-align: left!important;
	}
	.lt-800-hide{display:none!important}
    /* For short text lines */
        .f-short{font-size: 70%}
	.c-, .-c, .-c- {padding-left:8px;padding-right:8px}
	.-c-out, .c-out{margin-left: 0;margin-right: 0}
}

/* Mobile phones, even most expensive ;) */
@media only screen and (max-width: 480px){
	.c, .lt-480 {
		display:block !important;
		float: none !important;
		width: auto !important;
		clear: both !important;
		position: static!important;
		padding-left: 0!important;
		padding-right: 0!important;
		margin-left: 0!important;
		margin-right: 0!important;
		height: auto!important;
        text-align: left!important;
	}
    .inset{margin-bottom: 1em;}
	.body{padding-left: 2em;padding-right: 2em}
	.lt-480-hide{display:none!important} /* Hide this on too small screens */
	.-c, .-c-, .c- {padding-left:0;padding-right:0;padding-bottom: 1em}
	ins{white-space: normal}
    .wrap{width: auto}
    .nowrap{white-space: normal}
}

/* todo max-width 320? */
